<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nurbekov.zh.imageviewer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.FullScreenImageActivity"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="AA_DB_NAME"
            android:value="imageviewer.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <meta-data
            android:name="AA_MODELS"
            android:value="package com.nurbekov.zh.imageviewer.model.DBSuggestion" />

    </application>

</manifest>